body {
    background-color: rgba(38, 252, 252, 0.274);
}
.title {
    text-align: center;
    color: rgb(165, 29, 165);
    font-weight: 900;
    font-size: 40px; ;
}
.list {
    font-size: larger;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.img {
    border-radius: 8px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.header {
    text-align: center;
}
p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.home-button {
    color: rgb(255, 0, 0);
}